{
  "swagger": "2.0",
  "info": {
    "title": "BatchService",
    "version": "2016-07-01.3.1",
    "description": "A client for issuing REST requests to the Azure Batch service.",
    "x-ms-code-generation-settings": {
      "name": "BatchServiceClient"
    }
  },
  "host": "batch.core.windows.net",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json; odata=minimalmetadata"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/applications": {
      "get": {
        "tags": [
          "Applications"
        ],
        "x-ms-pageable": {
          "nextLinkName": "odata.nextLink"
        },
        "operationId": "Application_List",
        "summary": "Lists all of the applications available in the specified account.",
        "x-ms-request-id": "request-id",
        "parameters": [
          {
            "name": "maxresults",
            "x-ms-client-name": "maxResults",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "The maximum number of items to return in the response.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "timeout",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 30,
            "description": "The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "client-request-id",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            },
            "x-ms-client-request-id": true
          },
          {
            "name": "return-client-request-id",
            "in": "header",
            "required": false,
            "type": "boolean",
            "description": "Whether the server should return the client-request-id identifier in the response.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "ocp-date",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "date-time-rfc1123",
            "description": "The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "client-request-id": {
                "description": "The ClientRequestId provided by the client during the request, if present and requested to be returned.",
                "type": "string"
              },
              "request-id": {
                "description": "The value that uniquely identifies a request.",
                "type": "string"
              },
              "ETag": {
                "description": "The content of the ETag HTTP response header.",
                "type": "string"
              },
              "Last-Modified": {
                "description": "The content of the Last-Modified HTTP response header.",
                "type": "string",
                "format": "date-time-rfc1123"
              }
            },
            "description": "",
            "schema": {
              "$ref": "#/definitions/ApplicationListResult"
            }
          },
          "default": {
            "description": "The error from the Batch service.",
            "schema": {
              "$ref": "#/definitions/BatchError"
            }
          }
        }
      }
    },
    "/applications/{applicationId}": {
      "get": {
        "tags": [
          "Applications"
        ],
        "operationId": "Application_Get",
        "summary": "Gets information about the specified application.",
        "x-ms-request-id": "request-id",
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The id of the application."
          },
          {
            "name": "timeout",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 30,
            "description": "The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "client-request-id",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            },
            "x-ms-client-request-id": true
          },
          {
            "name": "return-client-request-id",
            "in": "header",
            "required": false,
            "type": "boolean",
            "description": "Whether the server should return the client-request-id identifier in the response.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "ocp-date",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "date-time-rfc1123",
            "description": "The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "client-request-id": {
                "description": "The ClientRequestId provided by the client during the request, if present and requested to be returned.",
                "type": "string"
              },
              "request-id": {
                "description": "The value that uniquely identifies a request.",
                "type": "string"
              },
              "ETag": {
                "description": "The content of the ETag HTTP response header.",
                "type": "string"
              },
              "Last-Modified": {
                "description": "The content of the Last-Modified HTTP response header.",
                "type": "string",
                "format": "date-time-rfc1123"
              }
            },
            "description": "",
            "schema": {
              "$ref": "#/definitions/ApplicationSummary"
            }
          },
          "default": {
            "description": "The error from the Batch service.",
            "schema": {
              "$ref": "#/definitions/BatchError"
            }
          }
        }
      }
    },
    "/poolusagemetrics": {
      "get": {
        "tags": [
          "Pools"
        ],
        "x-ms-pageable": {
          "nextLinkName": "odata.nextLink"
        },
        "operationId": "Pool_ListPoolUsageMetrics",
        "summary": "Lists the usage metrics, aggregated by pool across individual time intervals, for the specified account.",
        "x-ms-request-id": "request-id",
        "parameters": [
          {
            "name": "starttime",
            "x-ms-client-name": "startTime",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time",
            "description": "The earliest time from which to include metrics. This must be at least two and a half hours before the current time.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "endtime",
            "x-ms-client-name": "endTime",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time",
            "description": "The latest time from which to include metrics. This must be at least two hours before the current time.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "An OData $filter clause.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "maxresults",
            "x-ms-client-name": "maxResults",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "The maximum number of items to return in the response.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "timeout",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 30,
            "description": "The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "client-request-id",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            },
            "x-ms-client-request-id": true
          },
          {
            "name": "return-client-request-id",
            "in": "header",
            "required": false,
            "type": "boolean",
            "description": "Whether the server should return the client-request-id identifier in the response.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "ocp-date",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "date-time-rfc1123",
            "description": "The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "client-request-id": {
                "description": "The ClientRequestId provided by the client during the request, if present and requested to be returned.",
                "type": "string"
              },
              "request-id": {
                "description": "The value that uniquely identifies a request.",
                "type": "string"
              },
              "ETag": {
                "description": "The content of the ETag HTTP response header.",
                "type": "string"
              },
              "Last-Modified": {
                "description": "The content of the Last-Modified HTTP response header.",
                "type": "string",
                "format": "date-time-rfc1123"
              }
            },
            "description": "",
            "schema": {
              "$ref": "#/definitions/PoolListPoolUsageMetricsResult"
            }
          },
          "default": {
            "description": "The error from the Batch service.",
            "schema": {
              "$ref": "#/definitions/BatchError"
            }
          }
        }
      }
    },
    "/nodeagentskus": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "x-ms-pageable": {
          "nextLinkName": "odata.nextLink"
        },
        "operationId": "Account_ListNodeAgentSkus",
        "summary": "Lists all node agent SKUs supported by the Azure Batch service.",
        "x-ms-request-id": "request-id",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "An OData $filter clause.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "maxresults",
            "x-ms-client-name": "maxResults",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "The maximum number of items to return in the response.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "timeout",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 30,
            "description": "The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "client-request-id",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            },
            "x-ms-client-request-id": true
          },
          {
            "name": "return-client-request-id",
            "in": "header",
            "required": false,
            "type": "boolean",
            "description": "Whether the server should return the client-request-id identifier in the response.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "ocp-date",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "date-time-rfc1123",
            "description": "The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "client-request-id": {
                "description": "The ClientRequestId provided by the client during the request, if present and requested to be returned.",
                "type": "string"
              },
              "request-id": {
                "description": "The value that uniquely identifies a request.",
                "type": "string"
              },
              "ETag": {
                "description": "The content of the ETag HTTP response header.",
                "type": "string"
              },
              "Last-Modified": {
                "description": "The content of the Last-Modified HTTP response header.",
                "type": "string",
                "format": "date-time-rfc1123"
              }
            },
            "description": "",
            "schema": {
              "$ref": "#/definitions/AccountListNodeAgentSkusResult"
            }
          },
          "default": {
            "description": "The error from the Batch service.",
            "schema": {
              "$ref": "#/definitions/BatchError"
            }
          }
        }
      }
    },
    "/lifetimepoolstats": {
      "get": {
        "tags": [
          "Pools"
        ],
        "operationId": "Pool_GetAllPoolsLifetimeStatistics",
        "summary": "Gets lifetime summary statistics for all of the pools in the specified account.",
        "description": "Statistics are aggregated across all pools that have ever existed in the account, from account creation to the last update time of the statistics.",
        "x-ms-request-id": "request-id",
        "parameters": [
          {
            "name": "timeout",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 30,
            "description": "The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "client-request-id",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            },
            "x-ms-client-request-id": true
          },
          {
            "name": "return-client-request-id",
            "in": "header",
            "required": false,
            "type": "boolean",
            "description": "Whether the server should return the client-request-id identifier in the response.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "ocp-date",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "date-time-rfc1123",
            "description": "The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "client-request-id": {
                "description": "The ClientRequestId provided by the client during the request, if present and requested to be returned.",
                "type": "string"
              },
              "request-id": {
                "description": "The value that uniquely identifies a request.",
                "type": "string"
              },
              "ETag": {
                "description": "The content of the ETag HTTP response header.",
                "type": "string"
              },
              "Last-Modified": {
                "description": "The content of the Last-Modified HTTP response header.",
                "type": "string",
                "format": "date-time-rfc1123"
              }
            },
            "description": "",
            "schema": {
              "$ref": "#/definitions/PoolStatistics"
            }
          },
          "default": {
            "description": "The error from the Batch service.",
            "schema": {
              "$ref": "#/definitions/BatchError"
            }
          }
        }
      }
    },
    "/lifetimejobstats": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "operationId": "Job_GetAllJobsLifetimeStatistics",
        "summary": "Gets lifetime summary statistics for all of the jobs in the specified account.",
        "description": "Statistics are aggregated across all jobs that have ever existed in the account, from account creation to the last update time of the statistics.",
        "x-ms-request-id": "request-id",
        "parameters": [
          {
            "name": "timeout",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 30,
            "description": "The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "client-request-id",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            },
            "x-ms-client-request-id": true
          },
          {
            "name": "return-client-request-id",
            "in": "header",
            "required": false,
            "type": "boolean",
            "description": "Whether the server should return the client-request-id identifier in the response.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "ocp-date",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "date-time-rfc1123",
            "description": "The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "client-request-id": {
                "description": "The ClientRequestId provided by the client during the request, if present and requested to be returned.",
                "type": "string"
              },
              "request-id": {
                "description": "The value that uniquely identifies a request.",
                "type": "string"
              },
              "ETag": {
                "description": "The content of the ETag HTTP response header.",
                "type": "string"
              },
              "Last-Modified": {
                "description": "The content of the Last-Modified HTTP response header.",
                "type": "string",
                "format": "date-time-rfc1123"
              }
            },
            "description": "",
            "schema": {
              "$ref": "#/definitions/JobStatistics"
            }
          },
          "default": {
            "description": "The error from the Batch service.",
            "schema": {
              "$ref": "#/definitions/BatchError"
            }
          }
        }
      }
    },
    "/certificates": {
      "post": {
        "tags": [
          "Certificates"
        ],
        "operationId": "Certificate_Add",
        "summary": "Adds a certificate to the specified account.",
        "x-ms-request-id": "request-id",
        "parameters": [
          {
            "name": "Certificate",
            "in": "body",
            "description": "The certificate to be added.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CertificateAddParameter"
            }
          },
          {
            "name": "timeout",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 30,
            "description": "The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "client-request-id",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            },
            "x-ms-client-request-id": true
          },
          {
            "name": "return-client-request-id",
            "in": "header",
            "required": false,
            "type": "boolean",
            "description": "Whether the server should return the client-request-id identifier in the response.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "ocp-date",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "date-time-rfc1123",
            "description": "The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "201": {
            "headers": {
              "client-request-id": {
                "description": "The ClientRequestId provided by the client during the request, if present and requested to be returned.",
                "type": "string"
              },
              "request-id": {
                "description": "The value that uniquely identifies a request.",
                "type": "string"
              },
              "ETag": {
                "description": "The content of the ETag HTTP response header.",
                "type": "string"
              },
              "Last-Modified": {
                "description": "The content of the Last-Modified HTTP response header.",
                "type": "string",
                "format": "date-time-rfc1123"
              },
              "DataServiceId": {
                "description": "The OData id of the resource to which the request applied.",
                "type": "string"
              }
            },
            "description": "Initial response"
          },
          "default": {
            "description": "The error from the Batch service.",
            "schema": {
              "$ref": "#/definitions/BatchError"
            }
          }
        }
      },
      "get": {
        "tags": [
          "Certificates"
        ],
        "x-ms-pageable": {
          "nextLinkName": "odata.nextLink"
        },
        "operationId": "Certificate_List",
        "description": "Lists all of the certificates that have been added to the specified account.",
        "x-ms-request-id": "request-id",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "An OData $filter clause.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "An OData $select clause.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "maxresults",
            "x-ms-client-name": "maxResults",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "The maximum number of items to return in the response.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "timeout",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 30,
            "description": "The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "client-request-id",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            },
            "x-ms-client-request-id": true
          },
          {
            "name": "return-client-request-id",
            "in": "header",
            "required": false,
            "type": "boolean",
            "description": "Whether the server should return the client-request-id identifier in the response.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "ocp-date",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "date-time-rfc1123",
            "description": "The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "client-request-id": {
                "description": "The ClientRequestId provided by the client during the request, if present and requested to be returned.",
                "type": "string"
              },
              "request-id": {
                "description": "The value that uniquely identifies a request.",
                "type": "string"
              },
              "ETag": {
                "description": "The content of the ETag HTTP response header.",
                "type": "string"
              },
              "Last-Modified": {
                "description": "The content of the Last-Modified HTTP response header.",
                "type": "string",
                "format": "date-time-rfc1123"
              }
            },
            "description": "Gets the list of certificates.",
            "schema": {
              "$ref": "#/definitions/CertificateListResult"
            }
          },
          "default": {
            "description": "The error from the Batch service.",
            "schema": {
              "$ref": "#/definitions/BatchError"
            }
          }
        }
      }
    },
    "/certificates(thumbprintAlgorithm={thumbprintAlgorithm},thumbprint={thumbprint})/canceldelete": {
      "post": {
        "tags": [
          "Certificates"
        ],
        "operationId": "Certificate_CancelDeletion",
        "summary": "Cancels a failed deletion of a certificate from the specified account.",
        "x-ms-request-id": "request-id",
        "parameters": [
          {
            "name": "thumbprintAlgorithm",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The algorithm used to derive the thumbprint parameter. This must be sha1."
          },
          {
            "name": "thumbprint",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The thumbprint of the certificate being deleted."
          },
          {
            "name": "timeout",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 30,
            "description": "The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "client-request-id",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            },
            "x-ms-client-request-id": true
          },
          {
            "name": "return-client-request-id",
            "in": "header",
            "required": false,
            "type": "boolean",
            "description": "Whether the server should return the client-request-id identifier in the response.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "ocp-date",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "date-time-rfc1123",
            "description": "The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "204": {
            "headers": {
              "client-request-id": {
                "description": "The ClientRequestId provided by the client during the request, if present and requested to be returned.",
                "type": "string"
              },
              "request-id": {
                "description": "The value that uniquely identifies a request.",
                "type": "string"
              },
              "ETag": {
                "description": "The content of the ETag HTTP response header.",
                "type": "string"
              },
              "Last-Modified": {
                "description": "The content of the Last-Modified HTTP response header.",
                "type": "string",
                "format": "date-time-rfc1123"
              },
              "DataServiceId": {
                "description": "The OData id of the resource to which the request applied.",
                "type": "string"
              }
            },
            "description": ""
          },
          "default": {
            "description": "The error from the Batch service.",
            "schema": {
              "$ref": "#/definitions/BatchError"
            }
          }
        }
      }
    },
    "/certificates(thumbprintAlgorithm={thumbprintAlgorithm},thumbprint={thumbprint})": {
      "delete": {
        "tags": [
          "Certificates"
        ],
        "operationId": "Certificate_Delete",
        "summary": "Deletes a certificate from the specified account.",
        "x-ms-request-id": "request-id",
        "parameters": [
          {
            "name": "thumbprintAlgorithm",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The algorithm used to derive the thumbprint parameter. This must be sha1."
          },
          {
            "name": "thumbprint",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The thumbprint of the certificate to be deleted."
          },
          {
            "name": "timeout",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 30,
            "description": "The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "client-request-id",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            },
            "x-ms-client-request-id": true
          },
          {
            "name": "return-client-request-id",
            "in": "header",
            "required": false,
            "type": "boolean",
            "description": "Whether the server should return the client-request-id identifier in the response.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "ocp-date",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "date-time-rfc1123",
            "description": "The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "headers": {
              "client-request-id": {
                "description": "The ClientRequestId provided by the client during the request, if present and requested to be returned.",
                "type": "string"
              },
              "request-id": {
                "description": "The value that uniquely identifies a request.",
                "type": "string"
              },
              "ETag": {
                "description": "The content of the ETag HTTP response header.",
                "type": "string"
              },
              "Last-Modified": {
                "description": "The content of the Last-Modified HTTP response header.",
                "type": "string",
                "format": "date-time-rfc1123"
              }
            },
            "description": ""
          },
          "default": {
            "description": "The error from the Batch service.",
            "schema": {
              "$ref": "#/definitions/BatchError"
            }
          }
        }
      },
      "get": {
        "tags": [
          "Certificates"
        ],
        "operationId": "Certificate_Get",
        "description": "Gets information about the specified certificate.",
        "x-ms-request-id": "request-id",
        "parameters": [
          {
            "name": "thumbprintAlgorithm",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The algorithm used to derive the thumbprint parameter. This must be sha1."
          },
          {
            "name": "thumbprint",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The thumbprint of the certificate to get."
          },
          {
            "name": "$select",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "An OData $select clause.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "timeout",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 30,
            "description": "The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "client-request-id",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            },
            "x-ms-client-request-id": true
          },
          {
            "name": "return-client-request-id",
            "in": "header",
            "required": false,
            "type": "boolean",
            "description": "Whether the server should return the client-request-id identifier in the response.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "ocp-date",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "date-time-rfc1123",
            "description": "The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "client-request-id": {
                "description": "The ClientRequestId provided by the client during the request, if present and requested to be returned.",
                "type": "string"
              },
              "request-id": {
                "description": "The value that uniquely identifies a request.",
                "type": "string"
              },
              "ETag": {
                "description": "The content of the ETag HTTP response header.",
                "type": "string"
              },
              "Last-Modified": {
                "description": "The content of the Last-Modified HTTP response header.",
                "type": "string",
                "format": "date-time-rfc1123"
              }
            },
            "description": "",
            "schema": {
              "$ref": "#/definitions/Certificate"
            }
          },
          "default": {
            "description": "The error from the Batch service.",
            "schema": {
              "$ref": "#/definitions/BatchError"
            }
          }
        }
      }
    },
    "/jobs/{jobId}/tasks/{taskId}/files/{fileName}": {
      "delete": {
        "tags": [
          "Files"
        ],
        "operationId": "File_DeleteFromTask",
        "summary": "Deletes the specified task file from the compute node where the task ran.",
        "x-ms-request-id": "request-id",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The id of the job that contains the task."
          },
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The id of the task whose file you want to delete."
          },
          {
            "name": "fileName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The path to the task file that you want to delete."
          },
          {
            "name": "recursive",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Whether to delete children of a directory. If the fileName parameter represents a directory instead of a file, you can set Recursive to true to delete the directory and all of the files and subdirectories in it. If Recursive is false then the directory must be empty or deletion will fail."
          },
          {
            "name": "timeout",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 30,
            "description": "The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.",
            "x-ms-parameter-grouping": {
              "postfix": "Options" 
            }
          },
          {
            "name": "client-request-id",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            },
            "x-ms-client-request-id": true
          },
          {
            "name": "return-client-request-id",
            "in": "header",
            "required": false,
            "type": "boolean",
            "description": "Whether the server should return the client-request-id identifier in the response.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "ocp-date",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "date-time-rfc1123",
            "description": "The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "client-request-id": {
                "description": "The ClientRequestId provided by the client during the request, if present and requested to be returned.",
                "type": "string"
              },
              "request-id": {
                "description": "The value that uniquely identifies a request.",
                "type": "string"
              }
            },
            "description": ""
          },
          "default": {
            "description": "The error from the Batch service.",
            "schema": {
              "$ref": "#/definitions/BatchError"
            }
          }
        }
      },
      "get": {
        "tags": [
          "Files"
        ],
        "operationId": "File_GetFromTask",
        "description": "Returns the content of the specified task file.",
        "x-ms-request-id": "request-id",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The id of the job that contains the task."
          },
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The id of the task whose file you want to retrieve."
          },
          {
            "name": "fileName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The path to the task file that you want to get the content of."
          },
          {
            "name": "timeout",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 30,
            "description": "The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "client-request-id",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            },
            "x-ms-client-request-id": true
          },
          {
            "name": "return-client-request-id",
            "in": "header",
            "required": false,
            "type": "boolean",
            "description": "Whether the server should return the client-request-id identifier in the response.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "ocp-date",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "date-time-rfc1123",
            "description": "The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "ocp-range",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The byte range to be retrieved. The default is to retrieve the entire file. The format is bytes=startRange-endRange.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "If-Modified-Since",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "date-time-rfc1123",
            "description": "Specify this header to perform the operation only if the resource has been modified since the specified date/time.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "If-Unmodified-Since",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "date-time-rfc1123",
            "description": "Specify this header to perform the operation only if the resource has not been modified since the specified date/time.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "client-request-id": {
                "description": "The ClientRequestId provided by the client during the request, if present and requested to be returned.",
                "type": "string"
              },
              "request-id": {
                "description": "The value that uniquely identifies a request.",
                "type": "string"
              },
              "ETag": {
                "description": "The content of the ETag HTTP response header.",
                "type": "string"
              },
              "Last-Modified": {
                "description": "The content of the Last-Modified HTTP response header.",
                "type": "string",
                "format": "date-time-rfc1123"
              },
              "ocp-creation-time": {
                "description": "The file creation time.",
                "type": "string",
                "format": "date-time-rfc1123"
              },
              "ocp-batch-file-isdirectory": {
                "description": "Whether the object represents a directory.",
                "type": "boolean"
              },
              "ocp-batch-file-url": {
                "description": "The URL of the file.",
                "type": "string"
              },
              "ocp-batch-file-mode": {
                "description": "The file mode attribute in octal format.",
                "type": "string"
              },
              "Content-Type": {
                "description": "The content type of the file.",
                "type": "string"
              },
              "Content-Length": {
                "description": "The length of the file.",
                "type": "integer",
                "format": "int64"
              }
            },
            "description": "",
            "schema": {
              "type": "file"
            }
          },
          "default": {
            "description": "The error from the Batch service.",
            "schema": {
              "$ref": "#/definitions/BatchError"
            }
          }
        }
      },
      "head": {
        "tags": [
          "Files"
        ],
        "operationId": "File_GetNodeFilePropertiesFromTask",
        "description": "Gets the properties of the specified task file.",
        "x-ms-request-id": "request-id",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The id of the job that contains the task."
          },
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The id of the task whose file you want to get the properties of."
          },
          {
            "name": "fileName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The path to the task file that you want to get the properties of."
          },
          {
            "name": "timeout",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 30,
            "description": "The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "client-request-id",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            },
            "x-ms-client-request-id": true
          },
          {
            "name": "return-client-request-id",
            "in": "header",
            "required": false,
            "type": "boolean",
            "description": "Whether the server should return the client-request-id identifier in the response.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "ocp-date",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "date-time-rfc1123",
            "description": "The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "If-Modified-Since",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "date-time-rfc1123",
            "description": "Specify this header to perform the operation only if the resource has been modified since the specified date/time.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "If-Unmodified-Since",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "date-time-rfc1123",
            "description": "Specify this header to perform the operation only if the resource has not been modified since the specified date/time.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "client-request-id": {
                "description": "The ClientRequestId provided by the client during the request, if present and requested to be returned.",
                "type": "string"
              },
              "request-id": {
                "description": "The value that uniquely identifies a request.",
                "type": "string"
              },
              "ETag": {
                "description": "The content of the ETag HTTP response header.",
                "type": "string"
              },
              "Last-Modified": {
                "description": "The content of the Last-Modified HTTP response header.",
                "type": "string",
                "format": "date-time-rfc1123"
              },
              "ocp-creation-time": {
                "description": "The file creation time.",
                "type": "string",
                "format": "date-time-rfc1123"
              },
              "ocp-batch-file-isdirectory": {
                "description": "Whether the object represents a directory.",
                "type": "boolean"
              },
              "ocp-batch-file-url": {
                "description": "The URL of the file.",
                "type": "string"
              },
              "ocp-batch-file-mode": {
                "description": "The file mode attribute in octal format.",
                "type": "string"
              },
              "Content-Type": {
                "description": "The content type of the file.",
                "type": "string"
              },
              "Content-Length": {
                "description": "The length of the file.",
                "type": "integer",
                "format": "int64"
              }
            },
            "description": "Found the file"
          },
          "default": {
            "description": "The error from the Batch service.",
            "schema": {
              "$ref": "#/definitions/BatchError"
            }
          }
        }
      }
    },
    "/pools/{poolId}/nodes/{nodeId}/files/{fileName}": {
      "delete": {
        "tags": [
          "Files"
        ],
        "operationId": "File_DeleteFromComputeNode",
        "summary": "Deletes the specified task file from the compute node.",
        "x-ms-request-id": "request-id",
        "parameters": [
          {
            "name": "poolId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The id of the pool that contains the compute node."
          },
          {
            "name": "nodeId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The id of the compute node from which you want to delete the file."
          },
          {
            "name": "fileName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The path to the file that you want to delete."
          },
          {
            "name": "recursive",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Whether to delete children of a directory. If the fileName parameter represents a directory instead of a file, you can set Recursive to true to delete the directory and all of the files and subdirectories in it. If Recursive is false then the directory must be empty or deletion will fail."
          },
          {
            "name": "timeout",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 30,
            "description": "The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "client-request-id",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            },
            "x-ms-client-request-id": true
          },
          {
            "name": "return-client-request-id",
            "in": "header",
            "required": false,
            "type": "boolean",
            "description": "Whether the server should return the client-request-id identifier in the response.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "ocp-date",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "date-time-rfc1123",
            "description": "The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "client-request-id": {
                "description": "The ClientRequestId provided by the client during the request, if present and requested to be returned.",
                "type": "string"
              },
              "request-id": {
                "description": "The value that uniquely identifies a request.",
                "type": "string"
              }
            },
            "description": ""
          },
          "default": {
            "description": "The error from the Batch service.",
            "schema": {
              "$ref": "#/definitions/BatchError"
            }
          }
        }
      },
      "get": {
        "tags": [
          "Files"
        ],
        "operationId": "File_GetFromComputeNode",
        "description": "Returns the content of the specified task file.",
        "x-ms-request-id": "request-id",
        "parameters": [
          {
            "name": "poolId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The id of the pool that contains the compute node."
          },
          {
            "name": "nodeId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The id of the compute node that contains the file."
          },
          {
            "name": "fileName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The path to the task file that you want to get the content of."
          },
          {
            "name": "timeout",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 30,
            "description": "The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "client-request-id",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            },
            "x-ms-client-request-id": true
          },
          {
            "name": "return-client-request-id",
            "in": "header",
            "required": false,
            "type": "boolean",
            "description": "Whether the server should return the client-request-id identifier in the response.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "ocp-date",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "date-time-rfc1123",
            "description": "The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "ocp-range",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The byte range to be retrieved. The default is to retrieve the entire file. The format is bytes=startRange-endRange.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "If-Modified-Since",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "date-time-rfc1123",
            "description": "Specify this header to perform the operation only if the resource has been modified since the specified date/time.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "If-Unmodified-Since",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "date-time-rfc1123",
            "description": "Specify this header to perform the operation only if the resource has not been modified since the specified date/time.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "client-request-id": {
                "description": "The ClientRequestId provided by the client during the request, if present and requested to be returned.",
                "type": "string"
              },
              "request-id": {
                "description": "The value that uniquely identifies a request.",
                "type": "string"
              },
              "ETag": {
                "description": "The content of the ETag HTTP response header.",
                "type": "string"
              },
              "Last-Modified": {
                "description": "The content of the Last-Modified HTTP response header.",
                "type": "string",
                "format": "date-time-rfc1123"
              },
              "ocp-creation-time": {
                "description": "The file creation time.",
                "type": "string",
                "format": "date-time-rfc1123"
              },
              "ocp-batch-file-isdirectory": {
                "description": "Whether the object represents a directory.",
                "type": "boolean"
              },
              "ocp-batch-file-url": {
                "description": "The URL of the file.",
                "type": "string"
              },
              "ocp-batch-file-mode": {
                "description": "The file mode attribute in octal format.",
                "type": "string"
              },
              "Content-Type": {
                "description": "The content type of the file.",
                "type": "string"
              },
              "Content-Length": {
                "description": "The length of the file.",
                "type": "integer",
                "format": "int64"
              }
            },
            "description": "",
            "schema": {
              "type": "file"
            }
          },
          "default": {
            "description": "The error from the Batch service.",
            "schema": {
              "$ref": "#/definitions/BatchError"
            }
          }
        }
      },
      "head": {
        "tags": [
          "Files"
        ],
        "operationId": "File_GetNodeFilePropertiesFromComputeNode",
        "description": "Gets the properties of the specified compute node file.",
        "x-ms-request-id": "request-id",
        "parameters": [
          {
            "name": "poolId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The id of the pool that contains the compute node."
          },
          {
            "name": "nodeId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The id of the compute node that contains the file."
          },
          {
            "name": "fileName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The path to the compute node file that you want to get the properties of."
          },
          {
            "name": "timeout",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 30,
            "description": "The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "client-request-id",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            },
            "x-ms-client-request-id": true
          },
          {
            "name": "return-client-request-id",
            "in": "header",
            "required": false,
            "type": "boolean",
            "description": "Whether the server should return the client-request-id identifier in the response.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "ocp-date",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "date-time-rfc1123",
            "description": "The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "If-Modified-Since",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "date-time-rfc1123",
            "description": "Specify this header to perform the operation only if the resource has been modified since the specified date/time.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "If-Unmodified-Since",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "date-time-rfc1123",
            "description": "Specify this header to perform the operation only if the resource has not been modified since the specified date/time.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "client-request-id": {
                "description": "The ClientRequestId provided by the client during the request, if present and requested to be returned.",
                "type": "string"
              },
              "request-id": {
                "description": "The value that uniquely identifies a request.",
                "type": "string"
              },
              "ETag": {
                "description": "The content of the ETag HTTP response header.",
                "type": "string"
              },
              "Last-Modified": {
                "description": "The content of the Last-Modified HTTP response header.",
                "type": "string",
                "format": "date-time-rfc1123"
              },
              "ocp-creation-time": {
                "description": "The file creation time.",
                "type": "string",
                "format": "date-time-rfc1123"
              },
              "ocp-batch-file-isdirectory": {
                "description": "Whether the object represents a directory.",
                "type": "boolean"
              },
              "ocp-batch-file-url": {
                "description": "The URL of the file.",
                "type": "string"
              },
              "ocp-batch-file-mode": {
                "description": "The file mode attribute in octal format.",
                "type": "string"
              },
              "Content-Type": {
                "description": "The content type of the file.",
                "type": "string"
              },
              "Content-Length": {
                "description": "The length of the file.",
                "type": "integer",
                "format": "int64"
              }
            },
            "description": "Found the file"
          },
          "default": {
            "description": "The error from the Batch service.",
            "schema": {
              "$ref": "#/definitions/BatchError"
            }
          }
        }
      }
    },
    "/jobs/{jobId}/tasks/{taskId}/files": {
      "get": {
        "tags": [
          "Files"
        ],
        "x-ms-pageable": {
          "nextLinkName": "odata.nextLink"
        },
        "operationId": "File_ListFromTask",
        "summary": "Lists the files in a task's directory on its compute node.",
        "x-ms-request-id": "request-id",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The id of the job that contains the task."
          },
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The id of the task whose files you want to list."
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "An OData $filter clause.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "recursive",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Whether to list children of a directory."
          },
          {
            "name": "maxresults",
            "x-ms-client-name": "maxResults",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "The maximum number of items to return in the response.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "timeout",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 30,
            "description": "The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "client-request-id",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            },
            "x-ms-client-request-id": true
          },
          {
            "name": "return-client-request-id",
            "in": "header",
            "required": false,
            "type": "boolean",
            "description": "Whether the server should return the client-request-id identifier in the response.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "ocp-date",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "date-time-rfc1123",
            "description": "The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "client-request-id": {
                "description": "The ClientRequestId provided by the client during the request, if present and requested to be returned.",
                "type": "string"
              },
              "request-id": {
                "description": "The value that uniquely identifies a request.",
                "type": "string"
              },
              "ETag": {
                "description": "The content of the ETag HTTP response header.",
                "type": "string"
              },
              "Last-Modified": {
                "description": "The content of the Last-Modified HTTP response header.",
                "type": "string",
                "format": "date-time-rfc1123"
              }
            },
            "description": "",
            "schema": {
              "$ref": "#/definitions/NodeFileListResult"
            }
          },
          "default": {
            "description": "The error from the Batch service.",
            "schema": {
              "$ref": "#/definitions/BatchError"
            }
          }
        }
      }
    },
    "/pools/{poolId}/nodes/{nodeId}/files": {
      "get": {
        "tags": [
          "Files"
        ],
        "x-ms-pageable": {
          "nextLinkName": "odata.nextLink"
        },
        "operationId": "File_ListFromComputeNode",
        "summary": "Lists all of the files in task directories on the specified compute node.",
        "x-ms-request-id": "request-id",
        "parameters": [
          {
            "name": "poolId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The id of the pool that contains the compute node."
          },
          {
            "name": "nodeId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The id of the compute node whose files you want to list."
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "An OData $filter clause.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "recursive",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Whether to list children of a directory."
          },
          {
            "name": "maxresults",
            "x-ms-client-name": "maxResults",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "The maximum number of items to return in the response.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "timeout",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 30,
            "description": "The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "client-request-id",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            },
            "x-ms-client-request-id": true
          },
          {
            "name": "return-client-request-id",
            "in": "header",
            "required": false,
            "type": "boolean",
            "description": "Whether the server should return the client-request-id identifier in the response.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "ocp-date",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "date-time-rfc1123",
            "description": "The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "client-request-id": {
                "description": "The ClientRequestId provided by the client during the request, if present and requested to be returned.",
                "type": "string"
              },
              "request-id": {
                "description": "The value that uniquely identifies a request.",
                "type": "string"
              },
              "ETag": {
                "description": "The content of the ETag HTTP response header.",
                "type": "string"
              },
              "Last-Modified": {
                "description": "The content of the Last-Modified HTTP response header.",
                "type": "string",
                "format": "date-time-rfc1123"
              }
            },
            "description": "",
            "schema": {
              "$ref": "#/definitions/NodeFileListResult"
            }
          },
          "default": {
            "description": "The error from the Batch service.",
            "schema": {
              "$ref": "#/definitions/BatchError"
            }
          }
        }
      }
    },
    "/jobschedules/{jobScheduleId}": {
      "head": {
        "tags": [
          "JobSchedules"
        ],
        "operationId": "JobSchedule_Exists",
        "summary": "Checks the specified job schedule exists.",
        "x-ms-request-id": "request-id",
        "parameters": [
          {
            "name": "jobScheduleId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The id of the job schedule which you want to check."
          },
          {
            "name": "timeout",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 30,
            "description": "The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "client-request-id",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            },
            "x-ms-client-request-id": true
          },
          {
            "name": "return-client-request-id",
            "in": "header",
            "required": false,
            "type": "boolean",
            "description": "Whether the server should return the client-request-id identifier in the response.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "ocp-date",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "date-time-rfc1123",
            "description": "The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "If-Match",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "An ETag is specified. Specify this header to perform the operation only if the resource's ETag is an exact match as specified.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "If-None-Match",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "An ETag is specified. Specify this header to perform the operation only if the resource's ETag does not match the specified ETag.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "If-Modified-Since",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "date-time-rfc1123",
            "description": "Specify this header to perform the operation only if the resource has been modified since the specified date/time.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "If-Unmodified-Since",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "date-time-rfc1123",
            "description": "Specify this header to perform the operation only if the resource has not been modified since the specified date/time.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "client-request-id": {
                "description": "The ClientRequestId provided by the client during the request, if present and requested to be returned.",
                "type": "string"
              },
              "request-id": {
                "description": "The value that uniquely identifies a request.",
                "type": "string"
              },
              "ETag": {
                "description": "The content of the ETag HTTP response header.",
                "type": "string"
              },
              "Last-Modified": {
                "description": "The content of the Last-Modified HTTP response header.",
                "type": "string",
                "format": "date-time-rfc1123"
              }
            },
            "description": "Found the jobschedule."
          },
          "404": {
            "description": "JobSchedules not found"
          },
          "default": {
            "description": "The error from the Batch service.",
            "schema": {
              "$ref": "#/definitions/BatchError"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "JobSchedules"
        ],
        "operationId": "JobSchedule_Delete",
        "description": "Deletes a job schedule from the specified account.",
        "x-ms-request-id": "request-id",
        "parameters": [
          {
            "name": "jobScheduleId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The id of the job schedule to delete."
          },
          {
            "name": "timeout",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 30,
            "description": "The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "client-request-id",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            },
            "x-ms-client-request-id": true
          },
          {
            "name": "return-client-request-id",
            "in": "header",
            "required": false,
            "type": "boolean",
            "description": "Whether the server should return the client-request-id identifier in the response.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "ocp-date",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "date-time-rfc1123",
            "description": "The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "If-Match",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "An ETag is specified. Specify this header to perform the operation only if the resource's ETag is an exact match as specified.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "If-None-Match",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "An ETag is specified. Specify this header to perform the operation only if the resource's ETag does not match the specified ETag.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "If-Modified-Since",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "date-time-rfc1123",
            "description": "Specify this header to perform the operation only if the resource has been modified since the specified date/time.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "If-Unmodified-Since",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "date-time-rfc1123",
            "description": "Specify this header to perform the operation only if the resource has not been modified since the specified date/time.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "headers": {
              "client-request-id": {
                "description": "The ClientRequestId provided by the client during the request, if present and requested to be returned.",
                "type": "string"
              },
              "request-id": {
                "description": "The value that uniquely identifies a request.",
                "type": "string"
              }
            },
            "description": ""
          },
          "default": {
            "description": "The error from the Batch service.",
            "schema": {
              "$ref": "#/definitions/BatchError"
            }
          }
        }
      },
      "get": {
        "tags": [
          "JobSchedules"
        ],
        "operationId": "JobSchedule_Get",
        "description": "Gets information about the specified job schedule.",
        "x-ms-request-id": "request-id",
        "parameters": [
          {
            "name": "jobScheduleId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The id of the job schedule to get."
          },
          {
            "name": "$select",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "An OData $select clause.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "An OData $expand clause.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "timeout",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 30,
            "description": "The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "client-request-id",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            },
            "x-ms-client-request-id": true
          },
          {
            "name": "return-client-request-id",
            "in": "header",
            "required": false,
            "type": "boolean",
            "description": "Whether the server should return the client-request-id identifier in the response.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "ocp-date",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "date-time-rfc1123",
            "description": "The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "If-Match",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "An ETag is specified. Specify this header to perform the operation only if the resource's ETag is an exact match as specified.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "If-None-Match",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "An ETag is specified. Specify this header to perform the operation only if the resource's ETag does not match the specified ETag.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "If-Modified-Since",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "date-time-rfc1123",
            "description": "Specify this header to perform the operation only if the resource has been modified since the specified date/time.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "If-Unmodified-Since",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "date-time-rfc1123",
            "description": "Specify this header to perform the operation only if the resource has not been modified since the specified date/time.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "client-request-id": {
                "description": "The ClientRequestId provided by the client during the request, if present and requested to be returned.",
                "type": "string"
              },
              "request-id": {
                "description": "The value that uniquely identifies a request.",
                "type": "string"
              },
              "ETag": {
                "description": "The content of the ETag HTTP response header.",
                "type": "string"
              },
              "Last-Modified": {
                "description": "The content of the Last-Modified HTTP response header.",
                "type": "string",
                "format": "date-time-rfc1123"
              }
            },
            "description": "",
            "schema": {
              "$ref": "#/definitions/CloudJobSchedule"
            }
          },
          "default": {
            "description": "The error from the Batch service.",
            "schema": {
              "$ref": "#/definitions/BatchError"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "JobSchedules"
        ],
        "operationId": "JobSchedule_Patch",
        "description": "Updates the properties of the specified job schedule.",
        "x-ms-request-id": "request-id",
        "parameters": [
          {
[...]
